# Dependencies
node_modules/
.pnp/
.pnp.js

# Build
dist/
public/pwa-*.png
public/maskable-icon-*.png
public/favicon.ico
public/apple-touch-icon-*.png
build/

# Local env files
.env
.env.local
.env*.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db